.root{
    width:100%;
    min-height: 100vh;
    background-color: #0c0c18;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formComponent {
    width:100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

@media(max-width: 1300px){
    .width-condition{
        background-color: red;
    }
} 

.inputComponent {
    background-color: #18182f;
    padding: 45px;
    border-radius: 20px;
}
 
.text{
    color: 'white';
}


.goToRegisterContainer{
    margin-top: 10px;
    justify-content: center; 
    align-items: center;
    display: flex;
    margin-right: 25px;
}

 