.delete-confirmation-modal {
 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .delete-confirmation-modal__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 20px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  .ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
opacity: 1;
transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
opacity: 0;
transform: translateX(-100px);
}

  .delete-confirmation-modal__message {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .delete-confirmation-modal__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .delete-confirmation-modal__cancel-button,
  .delete-confirmation-modal__confirm-button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .delete-confirmation-modal__cancel-button {
    background-color: #efefef;
    color: black;
  }
  
  .delete-confirmation-modal__confirm-button {
    background-color: #f44336;
    color: white;
  }