.list-entry {
    width: 100%;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
}

.list-entry-button:hover {
    background-color: #5d1669;
}

.icon-btn {
    border-radius: 6px;
}

.page-name {
    font-weight: 500;
    color: white;
    text-transform: capitalize;
    justify-content: flex-start;
    display: flex;
}