

.comparison-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
    height: 100%;
    width: 50%;
}

 
.comparison-list ul {
    list-style-type: none;
    padding: 0;
}

.comparison-list ul li {
    margin-bottom: 10px;
    padding-left: 15px;
    position: relative;
}

.comparison-list ul li::before {
    content: "";
    position: absolute;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #333;
}