
.formComponent {
    position: absolute;
    left: 39%;
    top: 10%;
    width: 25%;
   
}

.text{
    color: 'white';
}

.inputComponent {
    background-color: #18182f;
    padding: 50px;
    border-radius: 20px;
}

